.card{
    width: 120px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    border: 4px solid black;
    box-shadow: 1px 1px 4px 1px gray;

}

.card.back{
    background-color: darkgray;
}

.stat-list{
    margin: 0;
    padding: 0 8px;

}

.stat-list-item{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.game{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.center-area{
    text-align: center;
    align-self: center;
    min-width: 20VW;
}

.card-list{
    display: flex;
    flex-direction: row-reverse;

}

.card-list.opponent{
    display: flex;
    direction: rtl;
    flex-direction: row-reverse;


}

.card-list-item.player{
    margin-left: calc(2vw - 140px);
}

.card-list-item.opponent{
    margin-right: calc(2vw - 140px);
    direction: ltr;
}

.play-button{
    width: 80px;
    height: 40px;
    align-self: center;
    font-size: larger;
    font-weight: bold;

}

